@media screen and (max-width: 1245px) {
    .container{
        left:-200%;
     }
    .box-container {
       height:70%;
       width:30%;
    }
    .win-msg{
        width: 45vw;
        padding-inline: 40px;
    }
    .lost-msg{
        width: 45vw;
        padding-inline: 40px;
    }
    
}

@media screen and (max-width: 999px) {
     .box-container {
        height:60%;
        width:30%;
     }

     .timer {
        width: 30%;
        justify-content: center;
     }

     .other-sections {
        width: 40%;
        justify-content: center;
     }
    
    .other-sections button{
        font-weight: 600;
        padding-block: 4px;
        padding-inline: 12px;
        font-size: 1.1rem;
        line-height: 1.2rem;
        border-radius: 4px;
    }
    
    .win-msg h1{
        font-size: 2rem;
    }
    
    .win-msg p{
        font-size: 1rem;
    }
    
    .win-msg button{
        font-weight: 600;
        padding-inline: 10px;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    .lost-msg h1{
        font-size: 2rem;
    }
    
    .lost-msg p{
        font-size: 1rem;
    }
    
    .lost-msg button{
        font-weight: 600;
        padding-inline: 10px;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 899px){
    .box-container {
        height:60%;
        width:42%;
     }
     .timer {
        width: 40%;
     }
     .win-msg{
        width: 50vw;
        padding-inline: 12px;
    }
    .lost-msg{
        width: 50vw;
        padding-inline: 12px;
    }
} 

@media screen and (max-width: 699px){
    .box-container {
        height:60%;
        width:45%;
     }

     .other-sections {
        width: 45%;
        justify-content: center;
     }

     .other-sections button{
        font-weight: 500;
        padding-block: 4px;
        padding-inline: 12px;
        font-size: 1rem;
        line-height: 1.2rem;
        border-radius: 4px;
    }

    .inside-container{
        width: 60vw;
    }

    .playing-btns button{
        width:80%;
    }

    .win-msg{
        width: 60vw;
    }

    .lost-msg{
        width: 60vw;
    }

} 

@media screen and (max-width: 599px){
    .box-container {
        height:50%;
        width:50%;
     }

     .other-sections {
        width: 50%;
        justify-content: center;
     }

     .other-sections button{
        font-weight: 500;
        padding-block: 4px;
        padding-inline: 12px;
        font-size: 1rem;
        line-height: 1rem;
        border-radius: 4px;
    }
    .container{
        width: 100vw;
        left:-300%;
     }

     .main-menu-container{
        overflow: hidden;
     }
     .timer {
        width: 50%;
     }

     .win-msg h1{
        font-size: 1.8rem;
    }
    
    .win-msg p{
        font-size: 1rem;
    }
    
    .win-msg button{
        font-weight: 400;
        padding-inline: 10px;
        font-size: 1rem;
        line-height: 1rem;
    }
    .lost-msg h1{
        font-size: 1.8rem;
    }
    
    .lost-msg p{
        font-size: 1rem;
    }
    
    .lost-msg button{
        font-weight: 400;
        padding-inline: 10px;
        font-size: 1rem;
        line-height: 1rem;
    }

} 


@media screen and (max-width: 499px){
    .box-container{
        width: 60%;
    }
    .other-sections {
        width: 60%;
     }

     .timer {
        width: 60%;
        justify-content: center;
     }
     .inside-container{
        width: 80vw;
    }
    .win-msg{
        width: 70vw;
    }
    .win-msg h1{
        font-size: 1.5rem;
    }
    
    .win-msg p{
        font-size: 1rem;
    }
    
    .win-msg button{
        font-weight: 400;
        padding-inline: 8px;
        font-size: 0.9rem;
    }
    .lost-msg{
        width: 70vw;
    }
    .lost-msg h1{
        font-size: 1.5rem;
    }
    
    .lost-msg p{
        font-size: 1rem;
    }
    
    .lost-msg button{
        font-weight: 400;
        padding-inline: 8px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 399px){
    .box-container{
        width: 75%;
    }
    .other-sections {
        width: 70%;
     }
     .timer {
        width: 70%;
        justify-content: center;
     }
     .inside-container{
        width: 90vw;
    }
    .win-msg{
        width: 80vw;
    }
    .lost-msg{
        width: 80vw;
    }
}

@media screen and (max-width: 299px){
    .box-container{
        width: 80%;
    }
}